//
//
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.
@import "theme/colors"; 

$theme-colors: (
    "sunset_orange": #ee833a
);

$secondary: #b3b3b3;

$font-weight-extra-light: 200 !default; 
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;